@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');


body{
    font-family: 'Montserrat', 
    sans-serif;
    margin: 0px;background-color: rgb(157, 247, 247);
    color: brown;
}


.text-area{
            
    width: 70%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}
#output{
    border: 1px solid black;
    height: 10vh;
    width: 70%;
    margin: 1rem;
    padding: 1rem;
    background-color: ;
}

#btn-translate{
    color: white;
    border: 2px solid black;
    border-radius: 17px;
    padding: 0.5rem;
    background-color: black;}